@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Oswald:300&display=swap");

* {
  margin: 0px;
  font-family: "Oswald", sans-serif;
}

:root {
  background-image: url("../../common/background.jpg");
}

.App {
  text-align: center;
}

h1,
h2 {
  font-family: "Amatic SC", cursive;
}

h1 {
  font-size: 3rem;
  margin-top: 50px;
}

h2 {
  font-size: 1.6rem;
}
