@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Oswald:300&display=swap");

* {
  margin: 0px;
  font-family: "Oswald", sans-serif;
}

:root {
  background-image: url("../../common/background.jpg");
}

.App {
  text-align: center;
  background-image: url("../../common/background.jpg");
}

h1,
h2,
h3,
h4,
button,
p,
a {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 3rem;
  margin-top: 50px;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

button {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 1.2rem;
  font-weight: normal;
}
