@import "../../components/App/App.css";

.selectorContainer__heading {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: cadetblue;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 20rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

h2 {
  color: white;
}

h3,
h4 {
  padding-left: 0;
  text-align: left;
  padding-top: 0.8rem;
  margin-bottom: 0;
}

.selectorContainer__form {
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  height: 450px;
  width: 20rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #f4efe9;
}
