@import "../App.css";

.set_date_container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.set_date_container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.display_dates {
  font-family: "Amatic SC", cursive;
  font-size: 1.4rem;
  font-weight: bold;
}

.dates {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.submit_date_button {
  background-color: #5f9595;
}

.print_date {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
