@import "../App/App.css";

#selectProgram,
#inputCost,
textarea {
  display: list-item;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 180px;
  border-bottom: 0.5px solid grey;
  height: 30px;
}

textarea {
  resize: none;
  padding: 0;
  height: 4em;
}

.input_box_container {
  background-color: #f4efe9;
  width: 200px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-bottom: 15px;
}

.travelDetail__heading {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.travelDetail__form {
  padding-top: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #f4efe9;
  margin-bottom: 15px;
}

button {
  margin-top: 5px;
  margin-right: 2.5px;
  margin-left: 2.5px;
  background-color: #dcdfe4;
  border-radius: 5px;
}

#saveButton,
#deleteButton {
  width: 30px;
  height: 30px;
}
